.header {
  background-color: #8258FA;
  border: 1px solid #2E2E2E;
}

.header--maxi {
  height: 100px;
}

.header--mini {
  height: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul li {
	margin-right: 20px;
}


li a:hover {
	color: bisque;
	text-decoration: none;
}

li a {
  color: #ffffff;
  text-decoration: none;
}